<div class="wrapper">
  <form (submit)="login($event)" name="login_form" class="form-signin">
    <h3 class="form-signin-heading">Welcome! Please sign in</h3>
    <br>

    <input type="text" class="form-control" name="username" placeholder="Email" required="" autofocus="" [(ngModel)]="username">
    <input type="password" class="form-control" name="password" placeholder="Password" required="" [(ngModel)]="password">

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    <button type="submit" class="btn btn-lg btn-primary btn-block" mat-raised-button color="primary" name="submit" value="Login">Login</button>

    <hr>
    <a routerLink="/register" class="form-link" >Sign up</a>
  </form>
</div>
