<app-header></app-header>

<app-modal #modal>
  <div class="app-modal-header">
    Create transaction
  </div>
  <div class="app-modal-body">
    <div class="mat-app-background basic-container">
      <form (submit)="createTransaction($event)" name="create_transaction" class="transaction-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="User" aria-label="User" [matAutocomplete]="auto" required="" [formControl]="userSelectCtrl">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
              <span>{{ user.name }}</span> |
              <small>Email: {{user.username}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br>

        <mat-form-field class="field-full-width">
          <input matInput placeholder="Amount" aria-label="Amount" name="amount" required="" [(ngModel)]="amount">
        </mat-form-field>

        <div *ngIf="error" class="alert alert-danger">{{error}}</div>

        <div class="button-row">
          <button mat-raised-button (click)="modal.hide()">Cancel</button>
          <button mat-raised-button color="primary">Send</button>
        </div>

      </form>
    </div>
  </div>
</app-modal>


<div class="basic-container mat-elevation-z8">

  <div class="filter-header">
    <mat-form-field>
      <input matInput (keyup)="filterTransactions($event.target.value)" placeholder="Filter" size="4">
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="modal.show()">Create transactions</button>

  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date/Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cur_balance">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Balance </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cur_balance}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
