@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 5px;
}

.cdk-overlay-container {
  z-index: 1110;
}

